{% extends 'base.html' %}

{% block conteudo%}

<div class="card mb-3 w-50 mt-5" style="margin: 0 auto;">
    <div class="card-header bg-warning text-dark font-weight-bold">
        Tem certeza que deseja excluir a tarefa abaixo?
    </div>
    <div class="card-body bg-dark">
        <h5 class="card-title text-warning">
            {{ tarefa.tituloo }}
        </h5>
        <p class="card-text lead text-warning">
            {{ tarefa.descricao}}
        </p>
        <hr class="border-warning">
        <form method="POST">
            {% csrf_token%}
            <button class="btn btn-danger btn-block">Remover</button>
            <a class="btn btn-primary btn-block" href="{% url 'listar_tarefas' %}">Cancelar</a>
        </form>
    </div>
</div>

{% endblock conteudo %}