{% extends 'base.html '%}
{% block conteudo %}

<h1>Tarefas de {{ user.username}}</h1>
{% for tarefa in tarefas %}
<div class="card mb-3 w-75">
    <div class="card-header bg-warning text-dark font-weight-bold">
        <span>Prioridade: {{ tarefa.get_prioridade_display }}</span>
    </div>
    <div class="card-body bg-dark">
        <h5 class="card-title text-warning">
            {{ tarefa.tituloo }}
        </h5>
        <p class="card-text lead text-warning">
            {{ tarefa.descricao}}
        </p>
        <hr class="border-warning">
        <a href="{% url 'editar_tarefa' tarefa.id %}"
           class="btn btn-warning w-25" title="Editar tarefa nº {{ tarefa.id }}">
            <i class="fas fa-edit fa-2x text-light"></i></a>
        <a href="{% url 'remover_tarefa' tarefa.id %}"
           class="btn btn-danger w-25" title="Exlcuir tarefa nº {{ tarefa.id }}">
            <i class="fas fa-trash-alt fa-2x"></i></a>
    </div>
</div>
{%endfor%}

<a href="{% url 'cadastrar_tarefa' %}" class="btn btn-primary">
    Cadastrar Tarefa</a>
{% endblock conteudo%}